td
{
border: 2px solid black;
padding: 5px;
background-color: bisque;
border-collapse: collapse;
}
td:nth-child(2n+2)
{
    background-color: aqua;
}
th
{
    border: 2px solid black;
    padding: 2px;
    background-color: greenyellow;
    color: black;
}

table
{
border-collapse: collapse;
margin: 5px;
}
